@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Dzul</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- MetisMenu CSS -->
    <link href="~/vendor/metisMenu/metisMenu.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
</head>
<div class="row">
    <div class="col-lg-12" style="text-align:center;">
        <div class="panel panel-red">
            <div class="panel-heading">
                <h3>@ViewBag.Title.</h3>
            </div>
            <div class="panel-body">
                <p>Please check your email to reset your password.</p>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<!-- Metis Menu Plugin JavaScript -->
<script src="~/vendor/metisMenu/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="~/vendor/raphael/raphael.min.js"></script>
@*<script src="~/vendor/morrisjs/morris.min.js"></script>*@
@*<script src="~/data/morris-data.js"></script>*@
<!-- Custom Theme JavaScript -->
<script src="~/dist/js/sb-admin-2.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</body>
</html>