
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6" style="text-align:center;">
            <div class="form-group">
                <label>SECELECT USER</label>
                @Html.ListBox("userList", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6" style="text-align:center;">
            <div class="form-group">
                <label>SECELECT ROLES</label>
                @Html.ListBox("roleList", null, htmlAttributes: new { @class = "form-control" })<br />
            </div>
        </div>
            <div class="row">
                <div class="col-md-6" style="text-align:center;">
                    <input type="submit" value="Assign" class="btn btn-primary" /><br />
                </div>
            @using (Html.BeginForm("RemoveRoles", "Home", FormMethod.Post, new { }))
            {
                <div style="text-align:center;">
                    <input type="submit" value="Remove" class="btn btn-primary" /><br />
                </div>
            }
            </div>
        </div>
    }
    @using (Html.BeginForm("", "Home", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6" style="text-align:center;">
            <div class="form-group">
                <label>SECELECT USER</label>
                @Html.ListBox("userList", null, htmlAttributes: new { @class = "form-control" })
            </div>
         </div>
        <div class="col-md-6" style="text-align:center;">
            <div class="form-group">
                <label>SELECT PROJECT</label>
                @Html.ListBox("projectList", null, htmlAttributes: new { @class = "form-control" })<br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align:center;">
                <input type="submit" value="Assign" class="btn btn-primary" /><br />
            </div>
            <div style="text-align:center;">
                <input type="submit" value="Remove" class="btn btn-primary" /><br />
            </div>
        </div>
    </div>
    }
    @using (Html.BeginForm("AddUser", "Home", FormMethod.Post, new { }))
    {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6" style="text-align:center;">
            <div class="form-group">
                <label>SECELECT USER</label>
                @Html.ListBox("userList", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6" style="text-align:center;">
            <div class="form-group">
                <label>SELECT TICKETS</label>
                @Html.ListBox("ticketList", null, htmlAttributes: new { @class = "form-control" })<br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"style="text-align:center;">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
            <div style="text-align:center;">
                <input type="submit" value="Remove" class="btn btn-primary" />
            </div>           
        </div>
    </div>
    }
</div>
