@model BugExterminator.Models.Project

@{
    ViewBag.Title = "Details Project";
}

<div class="row">
    <div class="col-lg-12" style="text-align:center;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>@ViewBag.Title</h3>
            </div>
                <div class="panel-body">
                        <h3>
                            @Html.DisplayNameFor(model => model.Name)
                        </h3>
                        <h5>
                            @Html.DisplayFor(model => model.Name)
                        </h5>                   
                        <h3>                       
                            @Html.DisplayNameFor(model => model.Description)
                        </h3>
                        <h5>
                            @Html.DisplayFor(model => model.Description)
                        </h5>
                        <h3>
                            @Html.DisplayNameFor(model => model.Created)
                        </h3>
                        <h5>
                            @Html.DisplayFor(model => model.Created)
                        </h5>
                </div>
            <div class="panel-footer">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>


